body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: rgba(128, 128, 128, 0.418);
}
.container {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  width: 100%;
  text-align: center;
  color: white;
}

.card-section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card {
  width: 380px;
  height: 370px;
  background-color: #2a2b2f;
  color: white;
  border-radius: 9px;
  border: 1px solid white;
  padding: 10px;
}

.card__img {
  width: 380px;
  height: 200px;
  border-radius: 9px;
  object-fit: cover;
}

.card__description {
  width: 320px;
}

.card__link:hover {
  border: 2px solid white;
  border-radius: 9px;
}

.card__link {
  text-decoration: none;
  border: 2px solid transparent;
}
