*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background: #181719;
}
.container {
  padding: 10px;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.header__logo {
  border: 1px solid white;
  width: 120px;
  height: 31px;
  font-weight: 200;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  font-family: 'Crimson Pro';
  font-style: normal;
  display: flex;
  align-items: center;
  justify-content: center;
}

.description {
  margin-top: 2rem;
  width: 100%;
  color: white;
}

.description__title {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 46px;
}

.description__paragraph {
  width: 250px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}

.description__span {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
}

.description__arrow {
  margin-left: 15px;
}

/** Designs */

.designs {
  z-index: -1;
  margin-top: 2rem;
  width: 100%;
}

.designs__photo {
  max-width: 100%;
  position: relative;
}

/** Card */

.card {
  width: 240px;
  position: absolute;
  bottom: 240px;
  left: 50px;

  background: #181719;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.card__header {
  display: flex;
}
.card__picture {
  padding: 10px;
  border-radius: 50%;
  height: 60px;
}

.card__titles {
  margin-left: 10px;
}

.card__name {
  margin-top: 16px;
  margin-bottom: 0;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #ffffff;
}

.card__job {
  margin-top: 5px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  color: #828282;
}

.card__description {
  margin: 0;
  margin-bottom: 25px;
  display: inline-block;
  width: 210px;
  font-family: Lora;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  color: white;
}

/** footer */

.footer {
  margin-top: 10rem;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #a9a9a9;
}

.footer__link {
  font-weight: bold;
  color: #a9a9a9;
}

/** nav menu */
.btn-container {
  height: 20px;
  width: 29px;
  display: flex;
  align-items: center;
}
.header__btn {
  border: 0;
  height: 3px;
  width: 29px;
  background: #f2f2f2;
  position: relative;
  z-index: 10;
}
.header__btn::after {
  content: '';
  height: 3px;
  width: 29px;
  position: absolute;
  bottom: -10px;
  left: 0;
  background: #f2f2f2;
}

.header__btn::before {
  content: '';
  height: 3px;
  width: 29px;
  position: absolute;
  top: -10px;
  left: 0;
  background: #f2f2f2;
}

.header__nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #181719;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100vh;
  z-index: 5;
  overflow: hidden;
}

.nav--hidden {
  display: none;
}
.nav--visible {
  width: 100%;
  height: 100vh;
}

.btn--close {
  width: 0;
  height: 0;
  background-color: #181719;
  position: relative;
}

.btn--close:before {
  content: '';
  transform: rotate(-45deg);
  position: absolute;
  top: 0;
  width: 30px;
}

.btn--close:after {
  content: '';
  transform: rotate(45deg);
  position: absolute;
  top: 0;
  width: 30px;
}

.nav__item {
  list-style: none;
  padding: 0;
  margin: 32px 0;
}

.nav__link {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: #ffffff;
  text-decoration: none;
}

.nav__link:focus {
  border-bottom: 2px solid white;
}

/* MEDIA QUERIES */
@media screen and (min-width: 375px) {
  .card {
    width: 280px;
    bottom: 210px;
    left: 60px;
  }
}

@media screen and (min-width: 425px) {
  .card {
    width: 330px;
    bottom: 175px;
    left: 60px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    z-index: unset;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .card {
    width: 420px;
    padding: 20px;
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    bottom: -80px;
    left: 300px;
  }

  .btn-container {
    display: none;
  }

  .header__nav {
    z-index: unset;
    position: initial;
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 60px;
    background-color: transparent;
  }
}

@media screen and (min-width: 1024px) {
  main {
    display: flex;
    align-items: center;
  }

  .designs {
    width: 200%;
  }

  .card {
    width: 420px;
    padding: 20px;
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    bottom: 8rem;
    left:45rem;
  }

  .footer {
    margin-top: 7rem;
  }
}
