* {
    box-sizing: border-box;
}

section {
    width: 100%;
}

main {
    margin: 0 8px;
}

.main-subtitle {
    font-family: Inconsolata;
    color: #333333;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 25px;
    letter-spacing: -0.08em;
}

.header-icon {
    max-width: 100%;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 25px;
    letter-spacing: -0.08em;
}

.main-title {
    color: #333333;
    font-family: 'Space Mono';
    font-size: 48px;
    font-style: normal;
    font-weight: bold;
    letter-spacing: -0.035em;
    line-height: 71px;
    margin: 0 auto;
}

.paragraph {
    width: 90%;
}

.paragraph__content {
    color: #4f4f4f;
    font-family: 'Space Mono';
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    letter-spacing: -0.035em;
    line-height: 27px;
}

.returnBtn {
    margin-top: 60px;
    margin-left: 8px;
    width: 216px;
    height: 68px;
    background: #333333;
    font-family: 'Space mono';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.035em;
    text-transform: uppercase;
    color: #ffffff;
    cursor: pointer;
}

footer {
    margin: 0;
    padding: 0;
    margin-top: 114px;
    width: 100%;
    height: 24px;
    text-align: center;
}

.footer__content {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #bdbdbd;
}

.username {
    text-decoration: underline;
}

@media (min-width: 1100px) {
    .desktop {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    section {
        width: 40%;
    }
    main {
        height: 600px;
        width: 40%;
    }
    .main-subtitle {
        margin-left: 6rem;
    }
    .main-title {
        width: 60%;
        margin-bottom: 36px;
    }
    .paragraph__content {
        margin-left: 10rem;
        width: 40%;
    }
    .returnBtn {
        width: 216px;
        height: 68px;
        margin-left: 10rem;
    }
    footer {
        position: absolute;
        width: 60%;
        top: 750px;
        left: 400px;
    }
}